//- button
//---------------
mixin button(text)
	tr
		td
			table(cellspacing="0" cellpadding="0")
				tr
					td(align="center" bgcolor="#5B9AE4" style="-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; color: #ffffff; display: block; padding:18px 40px; width:180px;")
						a(href=page.href)(style="font-size:14px;text-transform:uppercase; font-weight: 500; font-family:'Roboto',arial, sans-serif; text-decoration: none; width:100%; display:inline-block")
							span(style="color: #FFFFFF")=text

//- button-app
//---------------
mixin button-app(url,text)
	tr
		td
			table(cellspacing="0" cellpadding="0")
				tr
					td(align="center" bgcolor="#5B9AE4" style="-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; color: #ffffff; display: block; padding:18px 40px; width:180px;")
						a(href=url)(style="font-size:14px;text-transform:uppercase; font-weight: 500; font-family:'Roboto',arial, sans-serif; text-decoration: none; width:100%; display:inline-block")
							span(style="color: #FFFFFF")=text


//- button-full
//---------------
mixin button-full(text)
	center
		table(cellpadding="0" cellspacing="0" align="center" border="0")
			tr
				td(valign="middle" bgcolor="#5b9ae4" align="center" style="padding:18px 22px;")
					a.full-link(href=page.href)=text

